@model FiiiPay.BackOffice.ViewModels.CountryViewModel

<div class="pagebody">
    <br />
    <dl class="dl-horizontal">
        <dt>Name：</dt>
        <dd>@Html.DisplayTextFor(t => t.Name)</dd>
        <br />
        <dt>Name_CN：</dt>
        <dd>@Html.DisplayTextFor(t => t.Name_CN)</dd>
        <br />
        <dt>PhoneCode：</dt>
        <dd>@Html.DisplayTextFor(t => t.PhoneCode)</dd>
        <br />
        @*<dt>CustomerService：</dt>
        <dd>@Html.DisplayTextFor(t => t.CustomerService)</dd>*@
        <br />
        <dt>PinYin：</dt>
        <dd>@Html.DisplayTextFor(t => t.PinYin)</dd>
        <br />
        <dt>FiatCurrency：</dt>
        <dd>@Html.DisplayTextFor(t => t.FiatCurrency)</dd>
        <br />
        <dt>Code：</dt>
        <dd>@Html.DisplayTextFor(t => t.Code)</dd>
    </dl>
</div>